# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = mdouchement
email = marc.douchement@gmail.com
	signingkey = A27FD4D5
[rerere]
	enabled = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	gpgsign = true
[gpg]
	program = gpg2
[pager]
	branch = false
